/* Base styles for mobile devices */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #eaf2e5; /* Light green background for a fresh look */
}

/* Header styles */
header {
    background-color: #4CAF50; /* Farm green */
    color: white;
    padding: 15px 20px; /* Increased padding for a more spacious header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header h2 {
    margin: 0;
    font-size: 1.5em; /* Larger font size for better visibility */
    font-style: italic; /* Cursive text */
    text-align: center;
    flex: 1;
}



/* Hamburger menu */
.hamburger {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;

    left: 20px;
}

.hamburger div {
    background-color: white;
    height: 4px;
    margin: 6px 0;
}

/* Navigation styles */
nav {
    background-color: #3E8E41; /* Darker green for sidebar */
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Hide menu by default */
}

nav ul.active {
    display: block; /* Show menu when active */
}

nav ul li {
    margin: 0; /* Remove margin for a cleaner look */
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 20px; /* Increased padding for better click area */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

nav ul li a:hover {
    background-color: #45a049; /* Lighter green for hover */
}

/* Main content styles */
main {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for a clean effect */
}
/* Footer styles */
footer {
    background-color: #3E8E41; /* Match sidebar color */
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive design */

@media (min-width: 600px) {
    header {
        padding: 10px 30px; /* Adjust padding for larger screens */
    }

    .hamburger {
        display: none; /* Hide hamburger on larger screens */
    }

    nav ul {
        display: flex;
        justify-content: center; /* Center navigation items */
    }

    nav ul li {
        display: inline; /* Display items horizontally for larger screens */
        margin: 0 15px;
    }


    .sidebar {
        grid-column: 1 / 2; /* Sidebar in the first column */
    }
}

@media (min-width: 768px) {
    main {
        padding: 40px; /* Increase padding for larger screens */
    }

}


