/* Base styles for mobile devices */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50; /* Farm green */
    color: white;
    padding: 10px 20px; /* Adjust padding for better spacing */
    text-align: center;
    position: relative;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out hamburger and title */
}

header h2{
    margin: 0; /* Remove default margin */
    font-size: 1.2em; /* Adjust font size to be smaller */
    flex: 1; /* Take up available space */
    text-align: center; /* Center the text */
     /* Makes the text cursive */
}

.cursive-heading {
    font-style: italic; /* Makes the text cursive */
}
.hamburger {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 20px; /* Adjust the position */
    z-index: 1; /* Ensure it's above other content */
}

.hamburger div {
    background-color: white;
    height: 4px;
    margin: 6px 0;
}

/* Show the menu when the hamburger is clicked */
nav ul.active {
    display: block;
}

nav {
    background-color: #3E8E41; /* Darker green for sidebar */
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Hide menu by default */
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: transparent; /* Ensure no background color */
}

nav ul li a:hover {
    background-color: #45a049; /* Lighter green for hover */
}

main {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

/* Footer styles */
footer {
    background-color: #3E8E41; /* Match sidebar color */
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive design */

@media (min-width: 600px) {
    header {
        padding: 10px 30px; /* Adjust padding for larger screens */
    }

    .hamburger {
        display: none; /* Hide hamburger on larger screens */
    }

    nav ul {
        display: flex;
        justify-content: center; /* Center navigation items */
    }

    nav ul li {
        display: inline; /* Display items horizontally for larger screens */
        margin: 0 15px;
    }


    .sidebar {
        grid-column: 1 / 2; /* Sidebar in the first column */
    }
}

@media (min-width: 768px) {
    main {
        padding: 40px; /* Increase padding for larger screens */
    }

}


