{% extends 'base.html' %}

{% block title %}View Profile{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Profile</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'view_profile.css' %}">
</head>
<body>
    <h2>Profile Information</h2>
    <div class="profile-info">
        <p><span>Username:</span> {{ user.username }}</p>
        <p><span>Email:</span> {{ user.email }}</p>
        <p><span>First Name:</span> {{ user.profile.firstname }}</p>
        <p><span>Last Name:</span> {{ user.profile.lastname }}</p>
        <p><span>Location:</span> {{ user.profile.location }}</p>
        <p><span>Bio:</span> {{ user.profile.bio }}</p>
        <p><span>Birth Date:</span> {{ user.profile.birth_date }}</p>
        <p><a href="{% url 'users:update_profile' %}">Edit Profile</a></p>
    </div>
</body>
</html>
{% endblock %}
