{% extends 'base.html' %}

{% block title %}Add Chemical Application{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'super.css' %}">
    <title>Add Chemical Application</title>
</head>
<body>
    <h1>Add Chemical Application</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="{{ form.chemical.id_for_label }}">{{ form.chemical.label }}</label>
            {{ form.chemical }}
            {{ form.chemical.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.application_date.id_for_label }}">{{ form.application_date.label }}</label>
            {{ form.application_date }}
            {{ form.application_date.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.result.id_for_label }}">{{ form.result.label }}</label>
            {{ form.result }}
            {{ form.result.errors }}
        </div>
        <div class="form-group">
            
            <label for="{{ form.is_preventative.id_for_label }}">Tick box if its preventative</label>
            
            {{ form.is_preventative }}
            {{ form.is_preventative.errors }}
        </div>
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'chemicaltracker:chemicalT' %}">Back to List</a>
</body>
</html>
{% endblock %}

