{% extends 'base.html' %}

{% block title %}Farm Management System{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ chemical.name }}</title>
    <link rel="stylesheet" href="{% static 'details.css' %}">
</head>
<body class="details-body">
    <div class="details-container">
        <h1>{{ chemical.name }}</h1>
        <p><strong>Active Ingredient:</strong> {{ chemical.active_ingredient }}</p>
        <p><strong>Usage Instructions:</strong> {{ chemical.usage_instructions }}</p>
        <p><strong>Associated Products:</strong> {{ chemical.associated_products }}</p>
        <a href="{% url 'chemicaltracker:update_chemical' chemical.pk %}">Edit</a>
        <a href="{% url 'chemicaltracker:chemicalT' %}">Back to List</a>
    </div>
</body>
</html>
{% endblock %}
