{% extends 'base.html' %}

{% block title %}Farm Management System{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Chemical Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tracker.css' %}">
</head>
<body class="chemical-tracker-body">
    <div class="chemical-tracker">
        <h1>Chemical Tracker</h1>
        <h2>Chemicals</h2>
        <ul>
            {% for chemical in chemicals %}
            <li>
                <!-- <span>{{ chemical.name }} - {{ chemical.active_ingredient }}</span> -->
                <span>{{ chemical.name }}</span>
                <div>
                    <a href="{% url 'chemicaltracker:chemical_detail' chemical.pk %}">Details</a>
                    <a href="{% url 'chemicaltracker:update_chemical' chemical.pk %}">Edit</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <h2>Treatments</h2>
        <ul>
            {% for treatment in treatments %}
            <li>
                <span>{{ treatment.application_date }}: {{ treatment.chemical.name }} - {{ treatment.result }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
{% endblock %}
