{% extends 'base.html' %}

{% block title %}Delete Expense{% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
<div class="container">
    <h1>Delete Expense</h1>
    <p>Are you sure you want to delete this expense?</p>
    <p>{{ expense.date }} - {{ expense.item }} - {{ expense.amount_spent }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn-danger">Delete</button>
        <a href="{% url 'logbook:logbook' %}" class="btn-primary">Cancel</a>
    </form>
</div>
{% endblock %}
