{% extends 'base.html' %}

{% block title %}Farm Management System{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Log Book</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>Your Log Book</h1>
    <h2>Expenses</h2>
    <ul>
        {% for expense in expenses %}
            <li>{{ expense.date }} - {{ expense.item }} - {{ expense.amount_spent }}</li>
        {% endfor %}
    </ul>
    <h2>Sales</h2>
    <ul>
        {% for sale in sales %}
            <li>{{ sale.date }} - {{ sale.product }} - {{ sale.amount_earned }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'logbook:add_expense' %}">Add Expense</a> | <a href="{% url 'logbook:add_sale' %}">Add Sale</a>
</body>
</html>
{% endblock %}
