
{% extends 'base.html' %}

{% block title %}Farm Management System{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Weather Forecast</title>
</head>
<body>
    {% if data %}
        <h1>Weather Forecast for {{ data.name }}</h1>
        <p>Temperature: {{ data.main.temp }} °C</p>
        <p>Weather: {{ data.weather.0.description }}</p>
        <p>Humidity: {{ data.main.humidity }}%</p>
        <p>Wind Speed: {{ data.wind.speed }} m/s</p>
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>


{% endblock %}